:root {
	--primary-brand: #4d5ae5; /*Iris*/
	--pressed-state: #404bbf; /*Ocean*/
	--dark: #2e2f42; /*Navy blue*/
	--text: #434455; /*Slate*/
	--light: #f4f4fd; /*cloud*/
	--white-background: #fff; /*White*/
}

/* Global Variable */
body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white-background);
	color: var(--text);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Layout */
.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Header */

.page-header {
	border-bottom: 1px solid #e7e9fc;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: calc(21px / 18px);
	letter-spacing: 0.03em;
	color: var(--primary-brand);
}

.header-logo {
	padding: 24px 0;
	margin-right: 76px;
}

.header-logo .logo-part {
	color: var(--dark);
}

.nav-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24px / 16px);
	color: var(--dark);
	letter-spacing: 0.02em;
	padding: 24px 0;
	display: block;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--pressed-state);
}

.contacts {
	margin-left: auto;
}

.contacts-link {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24px / 16px);
	font-style: normal;
	letter-spacing: 0.02em;
	color: var(--text);
	padding: 24px 0;
}

.contacts-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--pressed-state);
}

/* Hero Section */

.banner {
	background-color: var(--dark);
	padding: 188px 0;
}

.banner-title {
	font-weight: 700;
	font-size: 56px;
	line-height: calc(60px / 56px);
	letter-spacing: 0.02em;
	max-width: 496px;
	text-align: center;
	color: var(--white-background);
	margin: 0 auto 48px;
}

.banner-button {
	color: var(--white-background);
	background-color: var(--primary-brand);
	font-weight: 500;
	font-size: 16px;
	line-height: calc(24px / 16px);
	letter-spacing: 0.04em;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: 4px;
	border: 0;
}

.banner-button:hover,
.banner-button:focus {
	background-color: var(--pressed-state);
	cursor: pointer;
}

/* Main Content */

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(40px / 36px);
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--dark);
	padding: 0 0 72px;
}

.card-list,
.team-list {
	display: flex;
	align-items: center;
	gap: 24px;
}

.card-item {
	max-width: 264px;
}

.card-title {
	font-weight: 500;
	font-size: 20px;
	line-height: calc(24px / 20px);
	letter-spacing: 0.02em;
	color: var(--dark);
	margin-bottom: 8px;
}

.content {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24px / 16px);
	letter-spacing: 0.02em;
}

/* Team */

.team {
	background-color: var(--light);
}

.team-card {
	background-color: var(--white-background);
	max-width: 264px;
	border-radius: 0 0 4px 4px;
}

.card-content {
	text-align: center;
	padding: 32px 16px;
}

/* Portfolio */

.section {
	padding: 120px 0;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	row-gap: 48px;
}

.portfolio-item {
	width: calc((100% - 48px) / 3);
}

.portfolio-item img {
	display: block;
	max-width: 100%;
	height: auto;
}

.app-content {
	border: 1px solid #e7e9fc;
	border-top: none;
	padding: 32px 16px;
}

/* Footer */

.page-footer {
	background-color: var(--dark);
	padding: 100px 0;
}

.footer-logo .logo-part,
.footer-content {
	color: var(--light);
}

.footer-content {
	margin-top: 16px;
	max-width: 264px;
}
